<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Sheet.Properties.Settings>
            <setting name="_backColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="_textColor" serializeAs="String">
                <value>62, 62, 62</value>
            </setting>
            <setting name="_textFont" serializeAs="String">
                <value>Consolas, 12pt</value>
            </setting>
            <setting name="_width" serializeAs="String">
                <value>1165</value>
            </setting>
            <setting name="_paperColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="_lastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="_lounchLastFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_showSplash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_autoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_autoSaveTime" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="_defStatsLimit" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="_defStatsLimitEnum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="_statsBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_statsBarWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="_defPrintFont" serializeAs="String">
                <value>Courier New, 12pt</value>
            </setting>
            <setting name="_bookmarkString" serializeAs="String">
                <value>@@</value>
            </setting>
            <setting name="_jumpsView" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_jumpsPositionSize" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>980</string>
                        <string>0</string>
                        <string>300</string>
                        <string>1024</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_jumpsRecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>O:\Documents\GitHub\ACM-Meeting\doodles\markdown\sample.md</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_jumpsNoOfRecentFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_layoutLineSpacing" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="_spacesInsteadOfTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_unixLineBreaks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_applicationVersion" serializeAs="String">
                <value>2.3.5.0</value>
            </setting>
            <setting name="_spellMaxSuggestions" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_backupsMaxAuto" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="_backupsMaxManual" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="_textAreaMarkerLenght" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="_verticalMarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_verticalMarginBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_zoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_scrollMarkerWidth" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="_autoHideStatsbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_autoHideStatsbarDelay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="_autoReplaceSources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>/m</string>
                        <string>==</string>
                        <string>=</string>
                        <string>/sig</string>
                        <string>/now</string>
                        <string>/e</string>
                        <string>/d</string>
                        <string>/p</string>
                        <string>/x</string>
                        <string>/&gt;</string>
                        <string>/&lt;</string>
                        <string>...</string>
                        <string>(c)</string>
                        <string>(tm)</string>
                        <string>(r)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_autoReplaceReplacements" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0. Motion: 
    1. First:
    2. Second:
    3. Discussion:
        1. None</string>
                        <string>came in [date]</string>
                        <string>Present</string>
                        <string>John Doe</string>
                        <string>[date]</string>
                        <string>€</string>
                        <string>$</string>
                        <string>£</string>
                        <string>×</string>
                        <string>»</string>
                        <string>«</string>
                        <string>…</string>
                        <string>©</string>
                        <string>™</string>
                        <string>®</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_pbarPosition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_preferencesSelectedIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_findRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_jumpsMasksName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Headings</string>
                        <string>Headlines</string>
                        <string>Comments</string>
                        <string>Numbering</string>
                        <string>Quotes</string>
                        <string>Tags</string>
                        <string>Web links</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_jumpsMasksRegEx" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>^#{1,6}.+?\n|^(.+)[ \t]*\n[=-]+[ \t]*\n+</string>
                        <string>^[\p{Lu}\p{N} \?\!\:\.\;\,\*\-\(\)]+?\n+?.*?\n</string>
                        <string>^//.+?\n</string>
                        <string>^\p{N}+?\..+?\n</string>
                        <string>["“»‘].+?["”«’]|^&gt;{1,}.*\n</string>
                        <string>^&lt;.+?&gt;\n+?.*?\n</string>
                        <string>(((ht|f)tp(s?))\://)?((([a-zA-Z0-9_\-]{2,}\.)+[a-zA-Z]{2,})|((?:(?:25[0-5]|2[0-4]\d|[01]\d\d|\d?\d)(?(\.?\d)\.)){4}))(:[a-zA-Z0-9]+)?(/[a-zA-Z0-9\-\._\?\,\'/\\\+&amp;amp;%\$#\=~]*)?$</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_jumpsSelectedMask" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="_jumpsMasksSample" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>All paragraphs that are marked as structured headings.[*][*]HEADING1[*]=========[*]Lorem ipsum[*][*]Heading2[*]-------------[*]Lorem ipsum[*][*]#HEADING1[*]Lorem ipsum dolor sit amet.[*][*]## Heading2[*]Lorem ipsum dolor sit amet.[*]Lorem ipsum dolor sit amet.</string>
                        <string>All paragraphs in capital letters. The mask also includes the first following paragraph.[*][*]HEADLINE1[*]Ut aliquip ex ea commodo consequat.[*]Eu fugiat nulla pariatur. Consectetur adipisicing elit, ullamco laboris nisi duis aute irure dolor.[*][*]1.1. HEADLINE2[*]Ut aliquip ex ea commodo consequat. Eu fugiat nulla pariatur. Consectetur adipisicing elit, ullamco laboris nisi duis aute irure dolor.[*][*]HEADLINE?![*]Ut aliquip ex ea commodo consequat. Eu fugiat nulla pariatur. Consectetur adipisicing elit, ullamco laboris nisi duis aute irure dolor.</string>
                        <string>All paragraphs that start with comment string. If you want to use different Comment marks, change "//" in the  mask with something else.[*][*]// This is a commented paragraph</string>
                        <string>All paragraphs that start with number followed by a dot.[*][*]1. First paragraph[*]2. Second paragraph[*]2.1. Third paragaraph[*]2.1.1. Fourth paragraph</string>
                        <string>Any text sorrounded by quotation marks. Also paragraphs that are marked a indented quoteblocks.[*][*]""[*]»Quoted text1«[*]"Quoted text2"[*]“Quoted text3”[*]‘Quoted text4’[*][*]&gt; This is indented quoteblock.</string>
                        <string>All strings sorrounded by &lt;&gt; marks. The mask includes the first following paragraph.[*][*]&lt;01.13.2009 at 5:30pm&gt;[*]Lorem ipsum doror sit amet[*]Lorem ipsum dolor sit amet[*][*]&lt;01.15.2009 at 3:10am&gt;</string>
                        <string>Web links in various formats.[*][*]www.google.com[*]http://yahoo.com[*]amazon.com[*]...</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_pbarNumericFont" serializeAs="String">
                <value>Consolas, 12pt</value>
            </setting>
            <setting name="_windowedPosition" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="_windowedSize" serializeAs="String">
                <value>500, 350</value>
            </setting>
            <setting name="_registered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_metaEnableCaretPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_lookupsName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Answers.com</string>
                        <string>Reference.com</string>
                        <string>Thesaurus (eng)</string>
                        <string>Google images</string>
                        <string>English dictionary</string>
                        <string>Wikipedia</string>
                        <string>Poetry.com (rhymes)</string>
                        <string>IMDb</string>
                        <string>Urban dictionary</string>
                        <string>BigHuge Thesaurus</string>
                        <string>Wordnik</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_lookupsURI" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.answers.com/[lookup]</string>
                        <string>http://www.reference.com/browse/[lookup]</string>
                        <string>http://thesaurus.reference.com/browse/[lookup]</string>
                        <string>http://images.google.com/images?hl=en&amp;q=[lookup]&amp;gbv=2&amp;aq=f&amp;oq=&amp;aqi=g10</string>
                        <string>http://dictionary.reference.com/browse/[lookup]</string>
                        <string>http://en.wikipedia.org/wiki/[lookup]</string>
                        <string>http://rhyme.poetry.com/r/rhyme.cgi?Word=[lookup]&amp;typeofrhyme=perfect&amp;org1=syl&amp;org2=l&amp;cbr=pc2</string>
                        <string>http://www.imdb.com/find?s=all&amp;q=[lookup]&amp;x=0&amp;y=0</string>
                        <string>http://www.urbandictionary.com/define.php?term=[lookup]</string>
                        <string>http://words.bighugelabs.com/[lookup]</string>
                        <string>http://www.wordnik.com/words/[lookup]</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_detectURLs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_elementsDim" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_infoBarPositions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_infoBarVisualOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_exportMarkupStandard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_typewriterScrolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_infoBarDecrFont" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_infoBarInverseColors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_infoBarInverseForBack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_colorsAndFontsCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SchemeProperties xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;backColor&gt;White&lt;/backColor&gt;
  &lt;textColor&gt;62, 62, 62&lt;/textColor&gt;
  &lt;textFont&gt;Consolas, 12pt&lt;/textFont&gt;
  &lt;inverseColors1&gt;False&lt;/inverseColors1&gt;
  &lt;inverseColors2&gt;False&lt;/inverseColors2&gt;
  &lt;elementsDim&gt;-115&lt;/elementsDim&gt;
  &lt;opacity&gt;0.01&lt;/opacity&gt;
  &lt;infoBarFont&gt;Courier New, 9.75pt&lt;/infoBarFont&gt;
  &lt;smallerInWindow&gt;0&lt;/smallerInWindow&gt;
  &lt;headingBold&gt;True&lt;/headingBold&gt;
  &lt;headingItalic&gt;False&lt;/headingItalic&gt;
  &lt;headingUnderline&gt;False&lt;/headingUnderline&gt;
  &lt;headingCenter&gt;False&lt;/headingCenter&gt;
  &lt;headingPlusSize&gt;3&lt;/headingPlusSize&gt;
&lt;/SchemeProperties&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_lockedOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_syntaxColoringHeadBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_syntaxColoringHeadCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_syntaxColoringHeadRelSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="_syntaxColoringHeadFont" serializeAs="String">
                <value>Consolas, 15pt, style=Bold</value>
            </setting>
            <setting name="_scrollingNumOfLines" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="_jumpsFilters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_jumpsRecetFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>O:\Documents\GitHub\ACM-Meeting\doodles\markdown</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Sheet.Properties.Settings>
    </userSettings>
</configuration>
