<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<link href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ screen_css }}" media="all" />
<link rel="stylesheet" href="{{ print_css }}" media="print" />

</head>

<body>
	<div class="wrapper">
	<header>
    	<h1>acm@thebeach
	        - <span>Association for Computing Machinery, CSULB Chapter</span>
        </h1>
		<h2>Meeting Minutes for {{ date }}</h2>
    </header>
    
	<section class="officers">
  		<h2>{{ date }} Administration</h2>

		<h3>Administrative Officers</h3>
		<ul class="execs member-list">
			{% for member in executive %}
				<li>
					<span class="m-name">{{ member.name }}</span>
					<span class="m-members">{{ member.position }}</span>
					<a href="mailto:{{ member.email }}">{{ member.email }}</a>
				</li>
			{% endfor %}
		</ul>

		<h3>Appointed Officers</h3>
		<ul class="appointed member-list">
			{% for member in appointed %}
				<li>
				<span class="m-name">{{ member.name }}</span>
				<span class="m-members">{{ member.position }}</span>
				<a href="mailto:{{ member.email }}">{{ member.email }}</a>
				</li>
			{% endfor %}
		</ul>

    </section>
    
	<section class="content">{{ minutes }}    </section>    
	<footer>
		<p>Association for Computing Machinery - California State University, Long Beach</p>
		<p>http://csulb.acm.org/</p>
	</footer>
    </div>
</body>
</html>
